<!DOCTYPE html>
<html>
	<head>
		<title>About Us</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/myStyle.css">
	</head>
	<body>

		<h1>Benjamin Jong</h1>
		<header class="awesome">
			<ul>
				<li>
					Goes to UC Berkeley
				</li>
				<li>
					Majoring in Computer Science
				</li>
				<li>
					Plays League of Legends
				</li>
			</ul>
		</header>
		<p>
			Want to know more? Check out <a href=contact>Contact Us</a>
		</p>
		<p class="cool" id="huge">
			Already Bored? Go come hit me up on League of Legends!
			<br>
			Download the game <a href="https://signup.na.leagueoflegends.com/en/signup/redownload">Here! </a>
			<br>
		<div>
			NA Summoner IGN: Vespera
		</div>
		<div class="big">
			***NOT A VIRUS!!! I GUARANTEE*** :)
		</div>
		

		<footer>
		
		<a href=index>Home Page</a>
		</footer>
	</body>
</html>